core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
#cloudinary_python.txt


# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
__pycache__/
#db.sqlite3
#/media
#/staticfiles

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sensitive Files
*.env
*.env.*
EOL
# Ignore runtime artefacts
media/
staticfiles/
