{% extends "blog/base.html" %}

{% block meta_description %}About AnimeNexus{% endblock %}

{% block title %}About | AnimeNexus{% endblock %}

{% block content %}
<div class="about-container">
  <div class="about-text">
    <h2>About the Blog</h2>
    <p>
      This blog was born from our infinite passion for the anime universe. From epic adventures to emotional dramas, 
      each story has left a special mark on our hearts. Here we celebrate the creative effort that transforms ideas 
      into captivating animations, unforgettable characters, and profound plots. We love sharing recommendations, curiosities, 
      and reflections on the works that inspire us and connect fans around the world. We believe that anime unites us, 
      regardless of cultural borders, providing a unique experience of learning and emotion. 
      And remember: anime is made by fans for fans, do not buy or sell.
    </p>
  </div>
</div>
{% endblock %}
