{% extends "blog/base.html" %}

{% block meta_description %}Contact AnimeNexus{% endblock %}

{% block title %}Contact | AnimeNexus{% endblock %}

{% block content %}
<div class="contact-container">
    <div class="contact-text">
        <h2>Contact</h2>
        <p>
            Get in touch with us for any questions, suggestions, or collaborations.
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Renderiza o formulário automaticamente -->
            <button type="submit">Send</button>
        </form>
    </div>
</div>
{% endblock %}
